@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import "./components/all";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: rgb(49, 49, 49);
  color: rgb(228, 228, 228);
  font-family: "Jost", sans-serif;
}

.container {
  max-width: 1020px;
  padding: 0px 10px;

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
